.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    background-color: #44014C;
    min-height: 200px;
    box-sizing: border-box;
    padding: 10px 20px;
    color: white;
    text-align: center;
  }
  
  .labelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .label {
    padding: 10px 20px;
    text-align: center;
  }
  
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
  }